body{
    background-color: rgb(209, 250, 207);
}
nav{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: mediumseagreen;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    height: 40px;
    flex: 1;
    margin: 20px;
    font-family: arial, sans-serif;
    color: palegreen;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 8em;
}
nav > a:hover{
    color: white;
    font-size: 20px;
    transition: 100ms;
    justify-content: center;
    align-items: center;
}
h2, p, h3, h5{
    font-family: arial, sans-serif;
}

.proj{
    width: 100%;
    background-color: powderblue;
    height: 100px;
    border: hidden;
    border-radius: 8px;
    text-align: center;
}
.proj > h3{
    width: 100%;
    padding-top: 20px;
}
.proj > h5{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 800px){
.proj{
    background-color: powderblue;
}

}
@media screen and (min-width: 501px) and (max-width: 800px){
    .proj{
        background-color: cornflowerblue;
    }
    body{
        background-color: lightgreen;
    }
    nav{
        flex-direction: column;
        height: 250px;
        justify-items: center;
        align-items: center;
        margin: 0px;
        padding-left: 0px;
        padding-top: 10px;
    }
    a{
        justify-items: center;
        align-items: center;
        margin: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }

}
@media screen and (max-width: 500px){
    .proj{
        background-color: dodgerblue;
    }
    nav{
        flex-direction: column;
        height: 250px;
        justify-items: center;
        align-items: center;
        margin: 0px;
        padding-left: 0px;
        padding-top: 10px;
    }
    a{
        justify-items: center;
        align-items: center;
        margin: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }
    body{
        background-color: white;
    }
}