nav{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: mediumseagreen;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    height: 40px;
    flex: 1;
    margin: 20px;
    font-family: arial, sans-serif;
    color: palegreen;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 8em;
}
nav > a:hover{
    color: white;
    font-size: 20px;
    transition: 300ms;
    justify-content: center;
    align-items: center;
}
h2, p{
    font-family: arial, sans-serif;
}