body{
    background-color: rgb(209, 250, 207);
}
nav{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: mediumseagreen;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    height: 40px;
    flex: 1;
    margin: 20px;
    font-family: arial, sans-serif;
    color: palegreen;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 8em;
}
nav > a:hover{
    color: white;
    font-size: 20px;
    transition: 100ms;
    justify-content: center;
    align-items: center;
}
h2, p, strong{
    font-family: arial, sans-serif;
}

.proj{
    display: flex;
    width: 100%;
    background-color: powderblue;
    height: 100px;
    border: hidden;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.proj > strong{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items:center;
}
.proj > p{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 800px){
.proj{
    background-color: powderblue;
}

}
@media screen and (min-width: 501px) and (max-width: 800px){
    .proj{
        background-color: cornflowerblue;
    }
}
@media screen and (max-width: 500px){
    .proj{
        background-color: dodgerblue;
    }
}